<!DOCTYPE html>
<html lang="en">
<head>
<meta charset ="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FaceID</title>
<link rel="icon" href="ti.jpg" type="image/PNG">
<link rel="stylesheet" href="home.css">
</head>
<body class="bg">
<div class="topnav">
  <p>THAPAR INSTITUTE OF ENGINEERING AND TECHNOLOGY</p>
  <a class="active" href="home.html">Home</a>
  <a href="teacher.html">Admin</a>
  <a href="page.html">Student</a>
</div>
<div class="bg-text">
<h1>WELCOME</h1>
<h2>Please get your attendance marked!</h2>
</div>
</body>